<nav class="navbar" style="background-color: #ffb700;">
    <div class="container-fluid">
        <a href="/" style="color:#026299" class="logo">
            <b href="/">Nature Aid</b></a>  
            <a href="/Profile" style="color:#026299; margin-left: 1000px;"><b>Profile</b></a>
            <a href="/login" style="color:#026299"><b>Log-In</b></a>
            <a href="/register" style="color:#026299"><b>Sign-Up</b></a>
            <a href="/find" style="color:#026299"><b>Find Opportunties</b></a>
    </div>
  </nav>