<html>
    <head>

    </head>
    <body>
        <form method="POST" action="/register">
            <input name="Email" type="email" required> 
            <br>
            <input name="Username" type="text" required> 
            <br>
            <input name="Password" type="password" required> 
            <button>Register</button>
        </form>
    </body>
</html>